<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">By Jay Lee</p>
    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="https://www.linkedin.com/in/jay-lee-a780a4191/" class="nav-link px-2 text-muted"
                target="_blank">LinkedIn</a></li>
        <li class="nav-item"><a href="https://github.com/jyl7094" class="nav-link px-2 text-muted"
                target="_blank">GitHub</a>
        </li>
    </ul>
</footer>
</div>
</body>

</html>