<%- include('./includes/head.ejs') %>
<h1 class="display-4 fw-normal">Welcome to <span class="bold-font">Survey Responder</span></h1>
<p class="fs-5 px-lg-5 mx-lg-5 px-md-1 mx-md-1 text-muted">Select the restaurant that you have the
    survey code for, then just
    enter
    your survey code.<span class="line-breaker"> Voilà! You will receive a validation code that you
        can use on your next
        purchase.</span>
</p>
</div>
</header>
<main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center justify-content-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm h-100">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">McDonald's &#174</h4>
                </div>
                <div class="card-body">
                    <img src="/images/McDonalds_logo.png" class="card-image img-thumbnail" alt="McDonald's Logo">
                    <a href="/mcdonalds" class="w-100 btn btn-lg btn-outline-primary mt-2">Get started</a>
                </div>
            </div>
        </div>
        <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm h-100">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Panda Express &#174</h4>
                        </div>
                        <div class="card-body">
                            <img src="/images/Panda_Express_logo.png" class="card-image img-thumbnail"
                                alt="Panda Express' Logo">
                            <a href="/panda-express" class="w-100 btn btn-lg btn-outline-secondary mt-2 disabled">Coming soon</a>
                        </div>
                    </div>
                </div>
    </div>
</main>
<%- include('./includes/end.ejs') %>;