<%- include('./includes/head.ejs') %>
<h1 class="display-4 fw-normal">Validation Code<br><%= vc %></span></h1>
<p class="fs-5 px-lg-5 mx-lg-5 px-md-1 mx-md-1 text-muted">
    You can use this code on your next purchase. Bon appétit!
</p>
<a href="/" class="w-10 btn btn-lg btn-outline-primary mt-2">Back to home</a>
</div>
</header>
<%- include('./includes/end.ejs') %>
